 $mar-right: 30px;
 $mar-left:15px;
 $mar-bot: 30px;
 $padding:30px;
 $color-001: #fff;
 $bac-color-01: #fff;
 $silver: silver;
 $black:black;
 $color-01: #3D58A6;
 $color-02: #E6E6E6;
 $h_color: #363E97;
 $red: red;
 $font-size: 22px;
 $icon-width: 15px;
 $icon-height:30px;
 $burger-size:50px;
 $hei-wid: 60px;
 $img-width: 150px;
 $font1: 'Roboto Condensed', sans-serif;


 


 